@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #393d46;
}

.background_main {
  background-image: url("../../public/images/light_mode_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background_main_dark {
  background-image: url("../../public/images/dark_mode_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  padding: 5px 10px;
  border-radius: 0;
  width: 30px !important;
  height: 30px !important;
  text-align: center;
  line-height: 30px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
