/* configure tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root */
body {
  overflow-x: hidden;
}

/* aceternity ui tabs css */
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
