@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body */
body {
	background-color: #23262b;
	font-family: 'Montserrat';
	color: #ffffff;
	width: 90%;
	margin: 0 auto;
	padding-top: 3%;
	overflow-x: hidden;
}

/* Navbar Style Start */
/* Navbar Active Link Style */
.activeLink {
	color: #f00850;
	font-size: 14px;
	font-weight: bolder;
}

/* Navbar not active link style */
.notActiveLink {
	color: #ffffff;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

/* Nav Link Hover style */
.notActiveLink:hover {
	color: #f00850;
	font-weight: bolder;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

/* Navbar Button */
.desk_nav_button {
	margin-left: 75px;
	margin-top: 5px;
}

.bg_nav_color {
	background: #23262b;
}

/* Navbar Style END */

/* Font style */
.font_style {
	font-family: Arial, Helvetica, sans-serif;
}

/* start */
/* Projects Section Card Box Style */
.container .box {
	border-radius: 5px;
	background-position: top;
	transition: ease-in-out 3s;
}

.container .box:hover {
	background-position: bottom;
}

.box_shadow {
	box-shadow: rgba(0, 0, 0, 0.281) 0px 6px 30px 2px;
}

/* Contact CSS Start */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* Animated Box */
.animated__box {
	position: relative;
	background: #191e23;
	border-radius: 12px;
	overflow: hidden;
}

.animated__box::before {
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
	animation: animate 6s linear infinite;
}

.animated__box::after {
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

/* Animated Box */
.animated__box__red {
	position: relative;
	background: #191e23;
	border-radius: 12px;
	overflow: hidden;
}

.animated__box__red::before {
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #f00850, #f00850);
	animation: animate 6s linear infinite;
}

.animated__box__red::after {
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	background: linear-gradient(0deg, transparent, #f00850, #f00850);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* animated button */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.anchor {
	position: relative;
	background: #45f3ff;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #191e23;
	text-decoration: none;
	letter-spacing: 0.2em;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}

.anchor::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00850;
	transform: scaleX(0);
	transition: 0.5s ease-in-out;
	transform-origin: right;
}

.anchor:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}


.anchor span {
	font-weight: 600;
	display: inline-block;
	z-index: 2;
	transform: 0.5s ease-in-out;
}

.anchor:hover span {
	color: #191e23;
}


.anchor i {
	position: relative;
	display: inline-block;
	width: 3px;
	height: 20px;
	background: #f00850;
	transition: 0.5s, width 0.5s, height 0.5s;
	transition-delay: 0s, 0.5s, 1s;
}

.anchor:hover i {
	width: 20px;
	height: 3px;
	background: #45f3ff;
	transition-delay: 0s, 1s, 0.5s;
}


.anchor i::before {
	content: " ";
	position: absolute;
	top: 1px;
	right: 0;
	width: 50%;
	height: 3px;
	background: transparent;
	rotate: 0;
	transform-origin: right;
	transition: 1s;
}

.anchor:hover i::before {
	background: #45f3ff;
	rotate: 45deg !important;
	transition-delay: 1.5s;
}


.anchor i::after {
	content: " ";
	position: absolute;
	top: -0.5px;
	right: 0;
	width: 50%;
	height: 3px;
	background: transparent;
	rotate: 0;
	transform-origin: right;
	transition: 1s;
}

.anchor:hover i::after {
	background: #45f3ff;
	rotate: -45deg;
	transition-delay: 1.5s;
}

.mymodal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1 !important;
	background: #191e23bd;
	overflow-y: scroll;
	scroll-behavior: smooth;
	overflow-x: hidden;
	outline: none;
	padding: 48px;
}

.myoverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.z_index {
	z-index: -1 !important;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #23262b;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #191e23;
}